In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./spends.csv")

In [3]:
df

,Customer ID,Category,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,CUST_0159,Groceries,Milk,1,1.28,1.28,Debit Card,Mobile App,2024-11-13
1,CUST_0017,Friend Activities,Dinner with Friends,2,74.69,149.39,Debit Card,In-store,2023-05-04
2,CUST_0094,Housing and Utilities,Water Bill,1,76.06,76.06,Digital Wallet,Mobile App,2023-12-16
3,CUST_0162,Fitness,Yoga Class,5,11.24,56.18,Cash,In-store,2024-01-28
4,CUST_0129,Gifts,Flowers,3,43.71,131.12,Debit Card,In-store,2023-07-28
...,...,...,...,...,...,...,...,...,...
9995,CUST_0072,Housing and Utilities,Water Bill,1,69.46,69.46,Debit Card,Online,2023-09-01
9996,CUST_0150,Groceries,Snacks,5,15.54,77.70,Debit Card,In-store,2024-06-27
9997,CUST_0122,Shopping,Electronics,1,732.03,732.03,Debit Card,In-store,2024-03-19
9998,CUST_0133,Transportation,Car Repair,1,107.63,107.63,Debit Card,Mobile App,2024-10-17
9999,CUST_0058,Housing and Utilities,Gas Bill,1,98.79,98.79,Credit Card,Mobile App,2024-08-04

In [9]:
df['Category'].unique()

array(['Groceries', 'friend', 'Housing and Utilities', 'Fitness', 'Gifts',
       'Transportation', 'Travel', 'Personal Hygiene', 'Hobbies',
       'Shopping', 'Medical/Dental', 'Food', 'Subscriptions'],
      dtype=object)

In [15]:
df['Category'] = df['Category'].replace('Housing and Utilities', 'housing')

In [16]:
df['Category'] = df['Category'].replace('Friend Activities', 'friend')

In [17]:
df['Category'] = df['Category'].replace('Medical/Dental', 'medical')

In [19]:
df['Category'] = df['Category'].str.title()

In [21]:
df['Category'].unique()

array(['Groceries', 'Friend', 'Housing', 'Fitness', 'Gifts',
       'Transportation', 'Travel', 'Personal Hygiene', 'Hobbies',
       'Shopping', 'Medical', 'Food', 'Subscriptions'], dtype=object)

In [22]:
df['Customer ID'].duplicated().sum()

np.int64(9800)

In [23]:
# Sort by Customer ID and save it back to df
df1 = df.sort_values(by='Customer ID')

In [30]:
df1 = df1.drop(columns=["Item"])

In [31]:
df1

,Customer ID,Category,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
9715,CUST_0001,Personal Hygiene,4,264.43,1057.70,Credit Card,Online,2024-07-28
1348,CUST_0001,Medical,1,643.32,643.32,Credit Card,Online,2023-03-20
1014,CUST_0001,Transportation,1,80.64,80.64,Cash,Online,2023-11-28
3672,CUST_0001,Friend,1,32.20,32.20,Credit Card,In-store,2023-02-24
2222,CUST_0001,Travel,1,149.82,149.82,Credit Card,In-store,2023-10-01
...,...,...,...,...,...,...,...,...
5107,CUST_0200,Fitness,3,194.20,582.59,Debit Card,Online,2023-06-02
3174,CUST_0200,Groceries,5,15.44,77.21,Cash,Mobile App,2024-07-10
7598,CUST_0200,Subscriptions,1,61.76,61.76,Digital Wallet,In-store,2024-11-30
9959,CUST_0200,Medical,1,314.02,314.02,Digital Wallet,In-store,2024-08-03
8570,CUST_0200,Hobbies,2,13.09,26.17,Debit Card,Online,2024-02-27

In [32]:
# Sort by ID first (primary), then by Category (secondary)
df1 = df.sort_values(by=['Customer ID', 'Category'])

In [36]:
df1 = df1.drop(columns=['Item'])

In [37]:
df1

,Customer ID,Category,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
5053,CUST_0001,Fitness,3,89.32,267.97,Digital Wallet,Mobile App,2023-04-22
5700,CUST_0001,Fitness,2,16.71,33.42,Debit Card,In-store,2023-09-20
6295,CUST_0001,Fitness,4,404.28,1617.10,Debit Card,Mobile App,2024-09-01
306,CUST_0001,Food,4,13.92,55.69,Credit Card,In-store,2023-12-19
5234,CUST_0001,Food,5,7.40,36.98,Cash,Mobile App,2023-12-29
...,...,...,...,...,...,...,...,...
909,CUST_0200,Transportation,1,30.19,30.19,Credit Card,Online,2024-08-06
2923,CUST_0200,Transportation,1,4.47,4.47,Digital Wallet,Mobile App,2024-09-11
8024,CUST_0200,Transportation,1,8.79,8.79,Credit Card,Mobile App,2023-02-04
8628,CUST_0200,Transportation,1,6.74,6.74,Debit Card,Mobile App,2023-11-11
9198,CUST_0200,Transportation,1,78.64,78.64,Digital Wallet,Online,2023-05-29

In [38]:
# Group by Customer and Category
df1_aggregated = df1.groupby(['Customer ID', 'Category'], as_index=False).agg({
    'Total Spent': 'sum',           # Add up all the money
    'Quantity': 'sum',              # Add up total items
    'Transaction Date': 'max',      # Keep the most recent transaction date
    'Payment Method': 'first',      # Keep the first payment method used
    'Location': 'first'             # Keep the first location recorded
})

# View the result for CUST_0001 to see the single Fitness row
print(df1_aggregated[df1_aggregated['Customer ID'] == 'CUST_0001'])

   Customer ID          Category  Total Spent  Quantity Transaction Date  \
0    CUST_0001           Fitness      1918.49         9       2024-09-01
1    CUST_0001              Food       126.56        12       2024-08-31
2    CUST_0001            Friend       760.48        11       2024-12-22
3    CUST_0001             Gifts       216.25         6       2024-11-25
4    CUST_0001         Groceries        24.54         4       2023-05-08
5    CUST_0001           Hobbies       269.07         6       2024-05-26
6    CUST_0001           Housing       186.72         2       2024-07-21
7    CUST_0001           Medical      2615.90         9       2024-11-19
8    CUST_0001  Personal Hygiene      1080.66         9       2024-07-28
9    CUST_0001          Shopping       281.32         2       2023-04-24
10   CUST_0001     Subscriptions       125.14         6       2024-10-28
11   CUST_0001    Transportation       343.47         2       2024-09-18
12   CUST_0001            Travel      2520.21         6       2024-12-28

    Payment Method    Location
0   Digital Wallet  Mobile App
1      Credit Card    In-store
2      Credit Card  Mobile App
3   Digital Wallet    In-store
4       Debit Card    In-store
5             Cash    In-store
6      Credit Card      Online
7   Digital Wallet      Online
8             Cash    In-store
9       Debit Card    In-store
10     Credit Card      Online
11      Debit Card    In-store
12     Credit Card    In-store

In [39]:
df1

,Customer ID,Category,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
5053,CUST_0001,Fitness,3,89.32,267.97,Digital Wallet,Mobile App,2023-04-22
5700,CUST_0001,Fitness,2,16.71,33.42,Debit Card,In-store,2023-09-20
6295,CUST_0001,Fitness,4,404.28,1617.10,Debit Card,Mobile App,2024-09-01
306,CUST_0001,Food,4,13.92,55.69,Credit Card,In-store,2023-12-19
5234,CUST_0001,Food,5,7.40,36.98,Cash,Mobile App,2023-12-29
...,...,...,...,...,...,...,...,...
909,CUST_0200,Transportation,1,30.19,30.19,Credit Card,Online,2024-08-06
2923,CUST_0200,Transportation,1,4.47,4.47,Digital Wallet,Mobile App,2024-09-11
8024,CUST_0200,Transportation,1,8.79,8.79,Credit Card,Mobile App,2023-02-04
8628,CUST_0200,Transportation,1,6.74,6.74,Debit Card,Mobile App,2023-11-11
9198,CUST_0200,Transportation,1,78.64,78.64,Digital Wallet,Online,2023-05-29

In [40]:
df1_aggregated

,Customer ID,Category,Total Spent,Quantity,Transaction Date,Payment Method,Location
0,CUST_0001,Fitness,1918.49,9,2024-09-01,Digital Wallet,Mobile App
1,CUST_0001,Food,126.56,12,2024-08-31,Credit Card,In-store
2,CUST_0001,Friend,760.48,11,2024-12-22,Credit Card,Mobile App
3,CUST_0001,Gifts,216.25,6,2024-11-25,Digital Wallet,In-store
4,CUST_0001,Groceries,24.54,4,2023-05-08,Debit Card,In-store
...,...,...,...,...,...,...,...
2537,CUST_0200,Medical,791.70,3,2024-08-03,Credit Card,Mobile App
2538,CUST_0200,Personal Hygiene,199.29,1,2023-11-22,Cash,In-store
2539,CUST_0200,Shopping,371840.76,7,2024-09-07,Debit Card,Online
2540,CUST_0200,Subscriptions,171.62,5,2025-01-10,Debit Card,In-store
2541,CUST_0200,Transportation,128.83,5,2024-09-11,Credit Card,Online

In [41]:
df_final = df.groupby(['Customer ID', 'Category'], as_index=False).agg({
    'Total Spent': 'sum',            
    'Quantity': 'sum',               
    'Transaction Date': 'max',       
    'Payment Method': 'first',       
    'Location': 'first'              
})

print(f"Original rows: {len(df)}")
print(f"Condensed rows: {len(df_final)}")
print(df_final.head(10))

Original rows: 10000
Condensed rows: 2542
  Customer ID          Category  Total Spent  Quantity Transaction Date  \
0   CUST_0001           Fitness      1918.49         9       2024-09-01
1   CUST_0001              Food       126.56        12       2024-08-31
2   CUST_0001            Friend       760.48        11       2024-12-22
3   CUST_0001             Gifts       216.25         6       2024-11-25
4   CUST_0001         Groceries        24.54         4       2023-05-08
5   CUST_0001           Hobbies       269.07         6       2024-05-26
6   CUST_0001           Housing       186.72         2       2024-07-21
7   CUST_0001           Medical      2615.90         9       2024-11-19
8   CUST_0001  Personal Hygiene      1080.66         9       2024-07-28
9   CUST_0001          Shopping       281.32         2       2023-04-24

   Payment Method    Location
0  Digital Wallet  Mobile App
1     Credit Card    In-store
2     Credit Card  Mobile App
3  Digital Wallet    In-store
4      Debit Card    In-store
5            Cash    In-store
6     Credit Card      Online
7  Digital Wallet      Online
8            Cash    In-store
9      Debit Card    In-store

In [48]:
df_final = df_final.sort_values(by=['Customer ID', 'Category'])

In [49]:
df_final

,Customer ID,Category,Total Spent,Quantity,Transaction Date,Payment Method,Location
0,CUST_0001,Fitness,1918.49,9,2024-09-01,Digital Wallet,Mobile App
1,CUST_0001,Food,126.56,12,2024-08-31,Credit Card,In-store
2,CUST_0001,Friend,760.48,11,2024-12-22,Credit Card,Mobile App
3,CUST_0001,Gifts,216.25,6,2024-11-25,Digital Wallet,In-store
4,CUST_0001,Groceries,24.54,4,2023-05-08,Debit Card,In-store
...,...,...,...,...,...,...,...
2537,CUST_0200,Medical,791.70,3,2024-08-03,Credit Card,Mobile App
2538,CUST_0200,Personal Hygiene,199.29,1,2023-11-22,Cash,In-store
2539,CUST_0200,Shopping,371840.76,7,2024-09-07,Debit Card,Online
2540,CUST_0200,Subscriptions,171.62,5,2025-01-10,Debit Card,In-store
2541,CUST_0200,Transportation,128.83,5,2024-09-11,Credit Card,Online

In [50]:
df = df_final

In [51]:
df

,Customer ID,Category,Total Spent,Quantity,Transaction Date,Payment Method,Location
0,CUST_0001,Fitness,1918.49,9,2024-09-01,Digital Wallet,Mobile App
1,CUST_0001,Food,126.56,12,2024-08-31,Credit Card,In-store
2,CUST_0001,Friend,760.48,11,2024-12-22,Credit Card,Mobile App
3,CUST_0001,Gifts,216.25,6,2024-11-25,Digital Wallet,In-store
4,CUST_0001,Groceries,24.54,4,2023-05-08,Debit Card,In-store
...,...,...,...,...,...,...,...
2537,CUST_0200,Medical,791.70,3,2024-08-03,Credit Card,Mobile App
2538,CUST_0200,Personal Hygiene,199.29,1,2023-11-22,Cash,In-store
2539,CUST_0200,Shopping,371840.76,7,2024-09-07,Debit Card,Online
2540,CUST_0200,Subscriptions,171.62,5,2025-01-10,Debit Card,In-store
2541,CUST_0200,Transportation,128.83,5,2024-09-11,Credit Card,Online

In [57]:
df_final = df_final.sort_values(by=['Customer ID', 'Total Spent'], ascending=[True,False])

In [58]:
df_final

,Customer ID,Category,Total Spent,Quantity,Transaction Date,Payment Method,Location
7,CUST_0001,Medical,2615.90,9,2024-11-19,Digital Wallet,Online
12,CUST_0001,Travel,2520.21,6,2024-12-28,Credit Card,In-store
0,CUST_0001,Fitness,1918.49,9,2024-09-01,Digital Wallet,Mobile App
8,CUST_0001,Personal Hygiene,1080.66,9,2024-07-28,Cash,In-store
2,CUST_0001,Friend,760.48,11,2024-12-22,Credit Card,Mobile App
...,...,...,...,...,...,...,...
2534,CUST_0200,Groceries,296.88,30,2024-07-10,Credit Card,In-store
2535,CUST_0200,Hobbies,254.85,8,2024-05-20,Debit Card,In-store
2538,CUST_0200,Personal Hygiene,199.29,1,2023-11-22,Cash,In-store
2540,CUST_0200,Subscriptions,171.62,5,2025-01-10,Debit Card,In-store
2541,CUST_0200,Transportation,128.83,5,2024-09-11,Credit Card,Online

In [59]:
# Save the aggregated 200-customer data to a file
df_final.to_csv('banking_recommendation_data.csv', index=False)